body {
    padding-top: 0px;
    padding-bottom: 20px;
    background-image: url('/img/background.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: auto;
}

.sub {
    text-align: center;
    font-size: 20px;
    color: azure;
    font-family: Arial;
}

.card {
    background-attachment: fixed;
}

.card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card:hover .card-text {
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
}